.section {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 7.5em;
    left: -12.5em;
    transform: rotate(25deg);
    width:50%;
    height: auto;
    z-index: -1;
  }
  