<app-nav-admin></app-nav-admin>

<body>
    <section class="dashboard">
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Total Estudiantes</span>
                        <span class="number">50,120</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Comments</span>
                        <span class="number">20,120</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Total Actividades</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>
            <div class="estadisticas">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Estadisticas principales</span>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="estadisticas-box">
                            <h4>Unidades y dificultades</h4>
                            <canvas baseChart class="chart" type="scatter" [data]="scatterChartData" [options]="scatterChartOptions"></canvas>
                            <br><h4>Cantidad de temas por unidad</h4>
                            <canvas  baseChart class="chart" type="bar" [data]="cntTemasBarData" [options]="cntTemasBarOptions"></canvas>
                        </div>
                    </div>
                    <div class="col-md-5 estadisticas-box">
                        <div class="">
                            <div>
                                <h4>Porcentaje del curso</h4>
                                <canvas baseChart class="chart" type="doughnut" [data]="progresoDoughnutData"></canvas>
                            </div><br>
                            <div>
                                <h4>Pocerntaje por unidades</h4>
                                <canvas baseChart class="chart" type="bar" [data]="progresoBarData" [options]="progresoBarOptions" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>