a{
  text-decoration: none;
  color: #000000;
  font-weight: bold ;
}
.arrow-button {
  background-color: #aa1619;
  border: none;
  color: #333;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #ffffff;
}
