<header>
    <app-nav-student></app-nav-student>
  </header>
  <body>
      
    <div class="container-fluid">
      <div class="row mt-4">
          <div class="col-lg-3">
              <div class="card shadow mb-4 "  >
                  <div class="card-body p-4 ">    
                      <h3 class="text-center">{{mensajes?.titulo}}</h3>
                      <br>
                      <p>{{mensajes?.introduccion}}</p>
                      <div class="align-items-center text-center mt-3 ">
                          <button type="button" class="btn btn-danger " [routerLink]="['/unidad/', unidades[0]?.idUnidad]">Empezar</button>
                      </div>
                      
                  </div>
              </div> 
          </div>
          <div class="col-lg-9    " >
              <!-- Basic Card Example -->
              <div class="card shadow mb-4 "  >
                  <div class="card-body p-4 d-flex flex-row">
                      <div class="div-presentacion p-2" >
                          <img id="ufps-logo"  src="../../../../assets/Logo_de_UFPS.png" alt="logo-ufps">
                      </div>
                      <p class="p-2 presentacion" > {{mensajes?.presentacion}}</p>
                  </div>                
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3" *ngFor="let i of unidades; let index = index">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4" >
                  <div class="text-center">
                      <img style="width: 40%"  src="{{i.img}}" alt="logo-ufps">
                  </div>
                  <div class="card-header py-3 text-center titulo-card">
                      <a class="m-0 font-weight-bold titulo-card text-decoration-none" [routerLink]="['/unidad/', i.idUnidad]">Unidad {{index+1}}: {{i.titulo}}</a>
                  </div>
                  <div class="card-body text-center">
                      {{i.descripcion}}
                  </div>
              </div>
          </div>
      </div>
       
      
      
  </div>
  <!-- /.container-fluid 1-->
  
  <div class="container-fluid min-container"   >
          
      <div class="row container-tema"  > 
          <div  style="color: white;">
  
  
              <div class="d-flex flex-row">
                  <div class="pt-3">
                      <img src="../../../../assets/Rectangle 10.png" alt="">
                  </div>
                  <div class="" >
                      <h2 class="mt-4 ms-2" >Temas</h2>
                  </div>
              </div>
              
              <div class="text-center temas-msj" >
                  <p>{{mensajes?.temas}}</p>
              </div>
             <!-- Button para desplegar el container-fluid 2-->
      <div class="text-center">
          <button
          class="navbar-toggler arrow-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#temas"
          aria-controls="temas"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="arrow-down"></span>
          </button>
        </div>
        <br>
          </div>
          
      </div>
      <div class="row"  id="temas">
          <div class="col-lg-3" *ngFor="let i of unidades; let index = index">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4 card-minh">
                  
                  <div class="card-header py-3 text-center titulo-card">
                      <a class="m-0 font-weight-bold titulo-card text-decoration-none" [routerLink]="['/unidad/', i.idUnidad]" style="font-size: 2em;">Unidad {{index+1}}: {{i.titulo}} </a>
                  </div>
                  <div class="card-body text-center" *ngFor="let j of i.temas; let idx = index">
                      {{idx+1}}: {{j.titulo}}
                  </div>
              </div>
          </div>
      </div>
      
  </div>
  <!-- /.container-fluid 2-->
  
  </body>
  
  