<header>
    <app-nav-student></app-nav-student>
    <!-- PAGE HEADING -->
    <div class=" subtema-title">
        <div>
            <h1 class="h3 mb-0 text-gray-800 titulo">Unidad {{unidad.idUnidad}}: {{unidad.titulo}}</h1>
        </div>
        <div class="row row-gutter-0" > 
            <h3 class="col-md 8 h3 mb-2 mt-3 text-gray-800">{{tema.titulo}}</h3>            
        </div>
        
    </div>    
</header>

<body>
    <div>
        <img class="imagen-rotada" src="../../../../assets/logoufps.png" alt="ufps">
    </div>
    <div class="container-content">
        <!-- SWIPER SUBTEMAS ACTIVIDADES -->
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"  keyboard="true" >
            <!-- SLIDES SUBTEMAS Y CONTENIDOS MULTIMEDIA -->
            <swiper-slide *ngFor="let i of subtemas; let index = index">
                <div class="content">
                    <div class="title row">
                        <div class="col-md-11 titulo text-gray-800"><h2>{{i.titulo}}</h2></div>                    
                    </div>
                    <div class="justify">
                        <div class="subtitle"><p class="subtitle">{{i.descripcion}}</p></div>
                        <div class="text"><p id="contenido-{{index}}" [innerHTML]="i.contenido" class="text">{{i.contenido}}</p></div>
                    </div>
                    
                    <div class="row row-multimedia text-center justify-content-center">
                        <div class="container-multimedia col-md-5 " *ngFor="let m of i.multimedia">
                            <div class="align-items-center center">
                                <a class="subtitle" href="{{m.url}}" target="_blank"><p class="subtitle">{{m.titulo}}</p></a>
                                <iframe class="row-iframe" [src]="sanitizeUrl(m.url)" title="{{m.titulo}}" frameborder="0" autos></iframe>  
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <!-- ACTIVIDADES  -->
            <swiper-slide>
                <div class="row justify-content-center align-items-center">
                    <div class="content">
                        <h1 class="titulo text-gray-800">Actividades propuestas</h1>
                        <p class="justify">Hemos recopilado una variedad de actividades emocionantes y estimulantes diseñadas para evaluar tu conocimiento
                             y comprensión del tema. Ya sea que estés estudiando en casa, en la escuela o en un entorno de aprendizaje 
                             profesional, nuestras actividades están diseñadas para desafiarte y ayudarte a mejorar tus habilidades en 
                             este tema específico. Aquí encontrarás una amplia gama de actividades interactivas, desde cuestionarios y 
                             pruebas de opción múltiple sopas de letra y ejercicios de resolución de problemas. Nuestro objetivo
                              es ofrecerte una experiencia educativa integral y entretenida que te permita aplicar y demostrar tu dominio del tema</p>
                    </div>
                    <div class="col-md-5" *ngFor="let a of actividades">
                        <div class="container-actividad ">
                            <p class="subtitle">{{a.titulo}}</p>
                            <p class="text"><strong>Objetivo: </strong>{{a.objetivo}}</p>
                            <button class="btn btn-danger" (click)="verActividad(a)">Ver actividad</button>
                        </div>
                    </div>                                   
                </div>                
            </swiper-slide>
        </swiper-container>


        <!-- COMENTARIOS -->
        <!-- CREAR COMENTARIO -->
        <div class="comentario-form center">
            <div class="form-group text-center align-items-center center">
                <textarea id="commentInput" class="form-control input" rows="5"></textarea>
            </div>
            <div class="mt-4">
                <button (click)="addComentario()" class="btn btn-danger">Enviar comentario</button>
            </div>
            
        </div>
        
        <!-- MOSTRAR COMENTARIOS -->
        <div class="comentario-box">
          <div id="comment-section">
            <hr>
            <h3 class="titulo-comennt ms-3">Comments:</h3>
            <div id="comentario-container" class="form-control" *ngFor="let c of comentarios">
                <i class="fa-solid fa-user me-2"></i> 
                <strong id="name">{{c.usuario.perNom}} {{c.usuario.perApell}}</strong> <p id="date">{{c.createdAt}}</p>
                <p id="comment">{{c.comentario}}</p>
            </div>
          </div>
        </div>          
    </div>
</body>