<!-- Navbar -->
<nav class="navbar navbar-expand-lg " style="background-color: #aa1619;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <i class="fas fa-bars" style="color: white"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <!-- Navbar brand -->

      
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item me-2">
          <a class="navbar-brand  mt-2 mt-lg-0 fw-bold" style="color: white" routerLink="/home">
            <i class="fa-solid fa-house"></i>
            Inicio </a>
        </li>
        <li class="nav-item me-2">
          <a class="navbar-brand  mt-2 mt-lg-0 fw-bold" style="color: white" [routerLink]="['/home']" fragment="temas">
            <i class="fas fa-book"></i>
            Temas</a>
        </li>
        <li class="nav-item me-2">
          <a class="navbar-brand  mt-2 mt-lg-0 fw-bold" style="color: white" routerLink="/listaractividades">
            <i class="fa-solid fa-cookie-bite"></i>
            Actividades</a>
        </li>
        <li class="nav-item me-2"  *ngIf="rol.includes('ADMIN')">
          <a class="navbar-brand  mt-2 mt-lg-0 fw-bold" style="color: white" routerLink="/dashboard">
            <i class="fas fa-chart-line"></i>
            Dashboard</a>
        </li>
      </ul>

      <div class="container text-end">
        <div class="row">
          <div class="col">
            <p class=" navbar-brand text-white text-end fw-bold" style="color: white">Hola, {{username}}</p>
          </div>
        </div>
      </div>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <div class="d-flex align-items-center">
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" routerLink="/profile">Mi perfil</a>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">Cerrar sesión</button>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
