<h2 mat-dialog-title>Actividad</h2>
<mat-dialog-content class="mat-typography">
    <h3><strong>{{data.actividad.titulo}}</strong></h3><hr>

    <h3><strong>Objetivo</strong></h3>
    <p>{{data.actividad.objetivo}}</p><hr>

    <h3><strong>Instrucciones</strong></h3>
    <p>{{data.actividad.instrucciones}}</p><hr>

    <div class="row justify-content-around">
        <a class="col-md-3" [routerLink]="data.actividad.url" target="_blank">
            <button class="btn btn-danger">Ir a la actividad</button>
        </a>
        <button *ngIf="completada==true && estudiante != null" class="btn btn-success col-md-3" disabled="true"> <i class="fa-sharp fa-solid fa-circle-check"></i> Completada</button>
        <button *ngIf="completada==false && estudiante != null" class="btn btn-danger col-md-3" (click)="completar()"> <i class="fa-sharp fa-solid fa-check-double"></i> Completar</button>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Terminar</button>
</mat-dialog-actions>
