*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.dashboard{
  position: relative;
  left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition:  all 0.5s ease;
  background: rgb(238, 237, 237);
}
.table-content{
  display: absolute;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 20px 25px 30px;
  margin: 0px 15px;
  background-color: white;
}
.title{
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  margin: 20px 0 30px 0;
  color: #5c5353;
}
.title i{
  position: relative;
  height: 35px;
  width: 35px;
  background-color: #f07070;
  border-radius: 6px;
  color: #f2f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.title .text{
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}
.form-item{
  margin: 10px
}