<app-nav-admin></app-nav-admin>

<body>
    <div class="dashboard">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Actividad</span>
        </div>
        <div class="table-content">
            <form action="" class="">
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                      <label for="validationServer01">First name</label>
                      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationServer02">Last name</label>
                      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationServerUsername">Username</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        </div>
                        <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="form-group row justify-content-around">
                    <mat-form-field class="col-md-3 form-group" appearance="fill">
                        <mat-label>Unidad</mat-label>
                        <mat-select>
                            <mat-option value="one">Titulo</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-3 form-group" appearance="fill">
                        <mat-label>Tema</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-5" appearance="fill">
                        <mat-label for="">Url</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</body>