<header>
    <app-nav-student></app-nav-student>
</header>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10">
                <div class="card shadow mb-4">
                    <div class="card-body p-4">    
                        <h3 class="text-center titulo">Lista de actividades</h3>
                        <p class="justify">Hemos recopilado una variedad de actividades emocionantes y estimulantes diseñadas para evaluar tu conocimiento
                            y comprensión del tema. Ya sea que estés estudiando en casa, en la escuela o en un entorno de aprendizaje 
                            profesional, nuestras actividades están diseñadas para desafiarte y ayudarte a mejorar tus habilidades en 
                            este tema específico. Aquí encontrarás una amplia gama de actividades interactivas, desde cuestionarios y 
                            pruebas de opción múltiple sopas de letra y ejercicios de resolución de problemas. Nuestro objetivo
                             es ofrecerte una experiencia educativa integral y entretenida que te permita aplicar y demostrar tu dominio del tema</p>
                        <div class="div-img p-2" >
                            <img id="ufps-logo"  src="../../../../assets/actividades.jpg" alt="actividades">
                        </div>
                        <div class="card-body ps-4 pe-4 row justify-content-center"  *ngFor="let a of actividades; let i=index">
                            <div class="col-md-10">
                                <div class="container-actividad ">
                                    <p class="subtitle">{{a.titulo}}</p><hr>
                                    <div class="row">
                                        <p class="text col-6"><strong>Objetivo: </strong>{{a.objetivo}}</p>
                                        <div class="col-2"></div>
                                        <div class="col-2">
                                            <a href="{{a.url}}" target="_blank" style="color:white">
                                                <button class="btn btn-danger">Ir a la actividad</button>
                                            </a>
                                        </div>                          
                                        <div class="col-2">
                                            <button *ngIf="completadas[i]==true && estudiante != null" class="btn btn-success" disabled="true"> <i class="fa-sharp fa-solid fa-circle-check"></i> Completada</button>
                                            <button *ngIf="completadas[i]==false && estudiante != null" class="btn btn-danger" (click)="completar(a)"> <i class="fa-sharp fa-solid fa-check-double"></i> Completar</button>
                                        </div>                                        
                                        <p class="text col-6 mt-4"><strong>Instrucciones: </strong>{{a.instrucciones}}</p>
                                    </div>                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>