<!-- Section: Design Block -->
<section class="text-center text-lg-start">

  <img class="background-image" src="../../../../assets/Logo_de_UFPS.png" alt="logo universidad" />
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 justify-content-between">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="card" style="background: hsla(0, 0%, 100%, 1); left:3.75em;">
          <div class="card-body p-5 shadow-5 text-center"> 
            <h2 class="fw-bold mb-5">Inicio de sesión</h2>
            <form role="form" [formGroup]="loginForm">
              <span class="text-danger">{{message}}</span>
              <!-- Email input -->
              <div class="form-outline mb-4" >
                <i class="fas fa-envelope"></i>
                <input formControlName="email" [ngClass]="{'error': isTouchedField(loginForm, 'email')}"
                       type="email" id="form3Example3" class="form-control" placeholder="Correo"/>
                <span class="text-danger">{{getErrorForm('email')}}</span>
              </div>
<br>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input formControlName="password" [ngClass]="{'error': isTouchedField(loginForm, 'password')}"
                       type="password" id="form3Example4" class="form-control" placeholder="Contraseña"/>
                <span class="text-danger">{{getErrorForm('password')}}</span>
              </div>
              <br>
              <br>
              <!-- Submit button -->
              <button (click)="signIn()" type="submit" class="btn btn-danger btn-block mb-4" style="font-weight: bold;">
                Iniciar sesión
              </button>
              <br>
              <br>
              <!-- Register buttons -->
              <div class="text-center">
                <span>¿No tienes cuenta?</span>
                <br>
                <a style="text-decoration: none; font-weight: bold; color:#dc3545;"routerLink="/singup"> Registrate aqui</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <img src="https://img.freepik.com/vector-gratis/colegial-pie-sobre-libros-levantando-mano-hablando-ilustracion-vector-plano-informe-tarea-casa-lectura-alumno-escuela-educacion-conocimiento_74855-8576.jpg" class="w-100 rounded-4 shadow-4"
             alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

